body {
	margin: 0; padding: 0;
}

#mapid { 
	position: absolute;
	z-index: 1;
	top: 0; left: 0; height: 100%; width: 100%; 
}

#timeline-scroll {
	position: absolute; 
	left: 22px; top: 100px;
	z-index: 2;
}

/* Right tooltip code */
.tooltip {
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 3;
}

/* Play and Pause Buttons */
.playbackbutton {
	background-size: 48px 48px;
	background-color: #86C5DA;
	border-radius: 6px;
	position: absolute;
	bottom: 13px; left: 7px;
	z-index: 3;
	height: 48px;
	width: 48px;
	cursor: pointer;
}

.playbutton {	
	background-image: url(play.png);
}

.pausebutton {	
	background-image: url(pause.png);
	display: none;
}

#horizontal-tabholder {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 0px; left: 0px; right: 0px;
	font-size: 1.1em;
	z-index: 4;
}

.tabsholder {
	margin: 0 auto;
	width: 800px;
}

#horizontal-tabholder .tab {
	display: table-cell;
	width: 150px;
	padding: 5px 5px 5px 10px;
	text-align: center;
}

#horizontal-tabholder .tab.selected {
	border-bottom: 5px lime solid;
	font-weight: bold;
}

#horizontal-tabholder .tab.unselected {
	border-bottom: 5px #FFA500 solid;
	cursor: pointer;
}

#horizontal-tabholder .tab.unselected:hover {
	font-weight: bold;
	border-bottom: 5px #006D7F solid;
}

@media only screen and (max-width: 760px) {

	#tabholder {
		font-family: 'Roboto', sans-serif;
		background-color: #fff;
		position: absolute;
		top: 0px; right: 0px;
		font-size: 1.1em;
		width: 170px;
		z-index: 4;
		display: block !important;
	}

	#tabholder .tab {
		width: 150px !important;
		display: block !important;
		padding: 5px 5px 5px 9px !important;
		text-align: left !important;
	}

	#tabholder .tab.selected {
		border-left: 5px lime solid;
		border-bottom: none !important;
		font-weight: bold;
	}

	#tabholder .tab.unselected {
		border-left: 5px #FFA500 solid;
		border-bottom: none !important;
		cursor: pointer;
	}

	#tabholder .tab.unselected:hover {
		font-weight: bold;
	}

	#horizontal-tabholder {
		display: none;
	}

}

/* Overriding jQuery UI CSS */
.ui-state-default { background: #323232 !important; }
.ui-state-hover { border: 1px solid #EAEAEA !important; }
.ui-widget-header { background: #C7FFC7 !important; }
.ui-widget-content { background: #FFE0E0 !important; }
.ui-slider { border: 1px solid #000 !important; }