body {
	margin: 0; padding: 0;
}

#mapid { 
	position: absolute;
	z-index: 1;
	top: 0; left: 0; height: 100%; width: 100%; 
}

#timeline-scroll {
	position: absolute; 
	left: 22px; top: 100px;
	z-index: 2;
}

/* Right tooltip code */
.tooltip {
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 3;
}

/* Play and Pause Buttons */
.playbackbutton {
	background-size: 48px 48px;
	background-color: #86C5DA;
	border-radius: 6px;
	position: absolute;
	bottom: 13px; left: 7px;
	z-index: 3;
	height: 48px;
	width: 48px;
	cursor: pointer;
}

.playbutton {	
	background-image: url(play.png);
}

.pausebutton {	
	background-image: url(pause.png);
	display: none;
}

/* Overriding jQuery UI CSS */
.ui-state-default { background: #323232 !important; }
.ui-state-hover { border: 1px solid #EAEAEA !important; }
.ui-widget-header { background: #C7FFC7 !important; }
.ui-widget-content { background: #FFE0E0 !important; }
.ui-slider { border: 1px solid #000 !important; }